<div class="w-full mx-auto px-5 lg:px-10 xl:px-20 py-5 lg:py-8">
  <!-- Title section -->
  <h1
    class="capitalize text-xl/tight sm:text-2xl/tight md:text-3xl/tight lg:text-4xl/tight xl:text-5xl/tight font-semibold text-center text-08503f">
    Return & Refund Policy
  </h1>

  <div class="mt-4 md:mt-6 lg:mt-8 space-y-8">
    <p class="text-xs sm:text-sm md:text-base xl:text-lg text-9d9b9b text-center">
      We value your trust and want you to love every purchase. If for any reason you are not completely satisfied, our
      Return & Refund Policy makes the process simple.</p>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl mb-3">
        1. Eligibility for Returns  </p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Returns are accepted within [7–14 days] from the date of delivery.</li>
        <li>Item must be unused, unworn and in original condition with all tags, certificates and packaging intact.</li>
        <li>Customized, engraved, or “Made to Order” jewellery cannot be returned unless defective or damaged.</li>
      </ul>
    </div>

    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        2. Non-Returnable Items</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Gift cards and vouchers.</li>
        <li>Items purchased during clearance or final sale.</li>
        <li>Products showing signs of wear, damage after delivery.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        3. Return Process</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Contact our Customer Support at [Insert Email/Phone/WhatsApp] within the return window.</li>
        <li>Provide order details and reason for return (with photos if item is damaged/defective).</li>
        <li>Our team will arrange a return pickup or guide you to ship the product back.</li>
        <li>Once received, our quality team will inspect the product before approving a refund or exchange.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        4. Refund Policy</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Refunds will be processed within [7–10 business days] after we receive and inspect the returned item.</li>
        <li>Refund will be credited to your original payment method (bank/UPI/card).</li>
        <li>Shipping charges, if any are non-refundable.</li>
        <li>For COD orders, refunds will be made via bank transfer or store credit.</li>
      </ul>
    </div>

  </div>
</div>
