<div class="w-full mx-auto px-5 lg:px-10 xl:px-20 py-5 lg:py-8">
  <!-- Title section -->
  <h1
    class="capitalize text-xl/tight sm:text-2xl/tight md:text-3xl/tight lg:text-4xl/tight xl:text-5xl/tight font-semibold text-center text-08503f">
    Frequently Asked Questions (FAQ)
  </h1>
  <p class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-[21px] text-9d9b9b text-center mt-0.5">Find
    answers to common queries about product and services.</p>

  <div class="mt-4 md:mt-6 lg:mt-8 space-y-8">
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        1. Do you sell real jewellery?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Yes, all our products are made with authentic materials. Each piece comes with quality assurance and
          certification (where applicable).</li>
      </ul>
    </div>

    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        2. How can I place an order?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Simply browse our collection, add your favorite items to the cart, and proceed to checkout. You can pay
          securely using credit/debit cards, UPI, net banking, or other available methods.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        3. Do you offer Cash on Delivery (COD)?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>No, We provide multiple payment options to make shopping easy for you.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        4. What are your shipping charges?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Shipping is free on orders above [X amount]. For orders below that, a nominal shipping fee is applied at
          checkout.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        5. How long will delivery take?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>We usually dispatch within 2–4 business days. Delivery times depend on your location, typically between 5–10
          business days.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        6. Do you ship internationally?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Please contact our customer support for international shipping queries.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        7. Can I return or exchange a product?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Yes. Products can be returned or exchanged within [7–14 days] of delivery, provided they are unused, in
          original packaging, and include all certificates/tags. Please see our Returns & Exchange Policy for details.
        </li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        8. What if my jewellery arrives damaged?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>In the rare case of damage during transit, contact us within 48 hours of delivery with photos/videos. We’ll
          arrange a replacement or refund.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        9. Do you provide customization?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Yes, we accept customization requests on selected jewellery pieces. Contact our team to discuss your design
          preferences.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        10. How do I care for my jewellery?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Store jewellery in a dry, soft pouch.</li>
        <li>Avoid contact with perfumes, chemicals, or water.</li>
        <li>Clean gently with a soft cloth to maintain shine.</li>
      </ul>
    </div>
    <div>
      <p class="font-oldstandtt text-08503f font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-1.5">
        11. Is my payment information secure?</p>
      <ul
        class="list-disc text-9d9b9b space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Absolutely. We use encrypted payment gateways to ensure your personal and payment details remain safe.</li>
      </ul>
    </div>
  </div>
</div>
