<div class="w-full lg:flex items-start gap-4">
  <div class="w-full lg:w-2/3">
    <div class="w-full rounded-md px-4 sm:px-10 md:px-4 lg:px-8 xl:px-10">

      <!-- back to cart -->
    <button routerLink="/cart" class="cursor-pointer w-max text-1e1e1e underline hover:text-9d9b9b text-sm md:text-base lg:text-lg mb-4 capitalize">Back to cart</button>

      <!-- Buyer Information -->
      <p class="text-lg lg:text-xl xl:text-2xl text-08503f font-medium font-oldstandtt">Buyer Information</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-3 space-y-4 mt-4">
        <!-- Email ID -->
        <div class="col-span-1">
          <div class="relative">
            <input type="text"
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b appearance-none focus:outline-none focus:ring-0 focus:border-18ac67 peer"
              placeholder=" " />
            <label
              class="absolute text-sm md:text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email
              ID</label>
          </div>
          <!-- Subscribe for newsletter -->
          <label class="flex items-center space-x-2 mt-2.5">
            <input type="checkbox" class="h-4 w-4  border-gray-300 rounded" />
            <span class="text-000000b2 text-sm lg:text-base font-normal">Subscribe for newsletter</span>
          </label>
        </div>

        <!-- Mobile No. -->
        <div class="col-span-1">
          <div class="relative">
            <input type="text"
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b appearance-none focus:outline-none focus:ring-0 focus:border-18ac67 peer"
              placeholder=" " />
            <label
              class="absolute text-sm md:text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Mobile No.</label>
          </div>
        </div>
      </div>

      <hr class="border-gray-300 my-4">

      <!-- Shipping Details -->
      <p class="text-lg lg:text-xl  xl:text-2xl text-08503f font-medium font-oldstandtt ">Shipping Details</p>
      <div class="grid grid-cols-1 sm:grid-cols-4 gap-2 sm:gap-3 space-y-4 mt-4">
        <!-- first name -->
        <div class="col-span-1 sm:col-span-2">
          <div class="relative">
            <input type="text"
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b appearance-none focus:outline-none focus:ring-0 focus:border-08503f peer"
              placeholder=" " />
            <label
              class="absolute text-sm md:text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">First Name</label>
          </div>
        </div>

        <!-- last name -->
        <div class="col-span-1 sm:col-span-2">
          <div class="relative">
            <input type="text"
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b appearance-none focus:outline-none focus:ring-0 focus:border-08503f peer"
              placeholder=" " />
            <label
              class="absolute text-sm md:text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Last Name</label>
          </div>
        </div>

        <!-- Mobile No. -->
        <div class="col-span-1">
          <div class="relative">
            <input type="text"
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b appearance-none focus:outline-none focus:ring-0 focus:border-08503f peer"
              placeholder=" " />
            <label
              class="absolute text-sm md:text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Mobile No.</label>
          </div>
        </div>

        <!-- Address -->
        <div class="col-span-1 sm:col-span-3">
         <div class="relative">
            <input type="text"
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b appearance-none focus:outline-none focus:ring-0 focus:border-08503f peer"
              placeholder=" " />
            <label
              class="absolute text-sm md:text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Address</label>
          </div>
        </div>

        <!-- country -->
        <div class="col-span-1">
          <div class="relative">
            <select
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b focus:outline-none focus:ring-0 focus:border-08503f peer">
              <option value="" disabled selected>Select Country</option>
              <option value="india">India</option>
              <option value="italy">Italy</option>
              <option value="japan">Japan</option>
            </select>

            <label class="absolute text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2
           peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2
           peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">
              Country
            </label>
          </div>
        </div>

        <!-- State -->
        <div class="col-span-1">
          <div class="relative">
            <select
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b focus:outline-none focus:ring-0 focus:border-08503f peer">
              <option value="" disabled selected>Select State</option>
              <option value="maharashtra">Maharashtra</option>
              <option value="karnataka">Karnataka</option>
              <option value="gujarat">Gujarat</option>
            </select>

            <label class="absolute text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2
           peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2
           peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">
              State
            </label>
          </div>
        </div>

        <!-- City -->
        <div class="col-span-1">
          <div class="relative">
            <select
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b focus:outline-none focus:ring-0 focus:border-08503f peer">
              <option value="" disabled selected>Select City</option>
              <option value="pune">Pune</option>
              <option value="mumbai">Mumbai</option>
              <option value="nagpur">Nagpur</option>
              <option value="nashik">Nashik</option>
            </select>

            <label class="absolute text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2
           peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2
           peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">
              City
            </label>
          </div>
        </div>

        <!-- Pincode -->
        <div class="col-span-1">
          <div class="relative">
            <input type="text"
              class="block px-2.5 pb-2 pt-3 w-full text-sm md:text-[15px] text-1e1e1e placeholder:text-9d9b9b bg-white rounded-md border-1 border-9d9b9b appearance-none focus:outline-none focus:ring-0 focus:border-08503f peer"
              placeholder=" " />
            <label
              class="absolute text-sm md:text-base text-9d9b9b duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Pincode</label>
          </div>
        </div>

        <!-- billing address & terms & conditions confirmation -->
        <div class="col-span-1 sm:col-span-4">
          <label class="flex items-center space-x-2 mt-2.5">
            <input type="checkbox" class="h-4 w-4  border-gray-300 rounded" />
            <span class="text-1e1e1e text-sm lg:text-base font-normal">My billing address is same as shipping
              address</span>
          </label>
          <label class="flex items-center space-x-2 mt-2.5">
            <input type="checkbox" class="h-4 w-4  border-gray-300 rounded" />
            <span class="text-1e1e1e text-sm lg:text-base font-normal">I have read and agree to the <a
                routerLink="/terms-and-conditions" class="text-08503f">terms & conditions</a>.</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/3">
    <app-order-summary (continue)="goNext()"></app-order-summary>
  </div>
</div>

