<div *ngIf="showFilters" class="border border-eee rounded-lg bg-white p-4 shadow-sm h-fit">
  <div class="space-y-2">
    <div *ngFor="let section of filters">
      <!-- Accordion Header -->
      <button class="w-full flex justify-between items-center px-2 py-2 bg-9d9b9b33 rounded-md"
        (click)="toggleSection(section.title)">
        <span class="font-medium text-08503f text-sm md:text-base">{{ section.title }}</span>
        <span>
          <svg [ngClass]="{ 'rotate-180': openSections[section.title] }" class="w-4 h-4 transition-transform"
            fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </span>
      </button>

      <!-- Accordion Content -->
      <div *ngIf="openSections[section.title]" class="px-2 py-2 space-y-1">
        <div *ngIf="section.type === 'checkbox'" class="space-y-1.5">
          <label *ngFor="let opt of section.options" class="flex items-center space-x-2">
            <input type="checkbox" [(ngModel)]="opt.checked" (change)="onCheckboxChange(section.title, opt)"
              class="w-4 h-4 text-08503f border-gray-300 rounded" />
            <span class="text-xs md:text-sm text-1e1e1e">{{ opt.label }}</span>
          </label>

        </div>

        <div *ngIf="section.type === 'range'" class="space-y-2">
          <div class="flex justify-between gap-2 text-sm text-1e1e1e mb-2">
            <input type="number" class="w-1/2 border rounded px-2 py-1" [(ngModel)]="section.minValue"
              [min]="section.minLimit || 0" [max]="section.maxValue" />
            <input type="number" class="w-1/2 border rounded px-2 py-1" [(ngModel)]="section.maxValue"
              [min]="section.minValue" [max]="section.maxLimit || 100000" />
          </div>

          <div class="relative h-2 w-full bg-gray-200 rounded">
            <!-- Selected range highlight -->
            <div class="absolute h-2 bg-08503f rounded" [ngStyle]="{
        'left.%': ((section.minValue||0)/(section.maxLimit||100000))*100,
        'right.%': 100 - ((section.maxValue||100000)/(section.maxLimit||100000))*100
      }">
            </div>

            <!-- Invisible range sliders for dragging -->
            <input type="range" class="absolute w-full h-2 opacity-0" [(ngModel)]="section.minValue"
              [min]="section.minLimit || 0" [max]="section.maxLimit || 100000"
              (input)="onRangeChange(section, 'min')" />
            <input type="range" class="absolute w-full h-2 opacity-0" [(ngModel)]="section.maxValue"
              [min]="section.minLimit || 0" [max]="section.maxLimit || 100000"
              (input)="onRangeChange(section, 'max')" />
          </div>
        </div>
      </div>
    </div>

    <button class="w-full mt-3 rounded-lg bg-08503f text-white py-1.5 text-sm" (click)="onApply()">
      Apply Filters
    </button>
  </div>
</div>
