<div class="w-full mx-auto px-5 lg:px-10 xl:px-20 sm:flex items-center gap-2 sm:gap-2.5 md:gap-3 py-5 lg:py-8">
  <!-- left side explore div -->
  <div class="w-full sm:w-1/2 p-4 xl:p-10">
    <h1
      class="text-2xl sm:text-3xl md:text-4xl lg:text-[50px] xl:text-[67px]/tight font-normal text-9d9b9b mb-6 md:mb-10">
      Beautiful, masterful design never
      goes out of fashion.</h1>

    <a routerLink="/products" class="group relative inline-flex items-center gap-2 font-oldstandtt bg-08503f text-white text-base md:text-lg xl:text-xl px-4 md:px-8 py-2 md:py-3
  transition-all duration-300 group-hover:scale-[1.04] group-hover:bg-08503f">

      <span class="capitalize">Explore</span>

      <svg class="size-6" viewBox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#ffffff">
        </path>
      </svg>
      <span
        class="pointer-events-none absolute top-0 left-[-100%] w-full h-full bg-white/20 skew-x-[-20deg] transition-all duration-500 group-hover:left-[100%]"></span>
    </a>

  </div>
  <!-- right side image -->
  <div class="w-full sm:w-1/2">
    <img src="assets/images/home/diamond-ring.png" alt="diamond-ring" class="w-full md:w-4/5 h-auto mx-auto" />
  </div>

</div>
